ul{
    list-style: none;
    float: right;
   
    
}
body{
   background-image: url(img/img7.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   
}
li,a{
    display: inline;
    padding: 20px;
    text-decoration: none;
    color:orange;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    font-size: 20px;
}
li,a:hover{
       color: gray;
}
h1{
    position: absolute;
    top: 200px;
    left: 50px;
    color:#fff;
    text-shadow: 2px 2px 4px blue;
    text-transform: capitalize;
}
h2{
    position: absolute;
    top: 250px;
    left: 50px;
    color:#fff;
    text-shadow: 2px 2px 4px blue;
    text-transform: capitalize;
}
.img1{
    float: right;
    position: absolute;
    right: 180px;
    top: 250px;
    border-radius: 200px;
    box-shadow: 2px 2px 100px  orange;
    border: 2px solid gray;
  

}
p{
    position: absolute;
    top: 290px;
    left: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px blue;
    text-transform: capitalize;
}
.c2{
    max-width: 600px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.s1{
    border: 2px solid orange;
    position: absolute;
    top: 450px;
    left: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;

}


.s1:hover{
    border: transparent;
    background-color: aqua;
    color: orange;
    
}
.s2{
    
    border: 2px solid orange;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;
    position: absolute;
    top: 450px;
    left: 370px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color: #fff;
}
.s2:hover{
    border: transparent;
    background-color: aqua;
    color:orange;
}

.a5{
    border: 2px solid orange;
    position: absolute;
    top: 600px;
    left: 250px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;

}
.a5:hover{
    color: aqua;
}
.a1{
    border: 2px solid orange;
    position: absolute;
    top: 600px;
    left: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;
}
.a1:hover{
    color: aqua;
}
.a2{
    border: 2px solid orange;
    position: absolute;
    top: 600px;
    left: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;
}
.a2:hover{
    color: aqua;
}
.a3{
    border: 2px solid orange;
    position: absolute;
    top: 600px;
    left: 150px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;

    
}
.a3:hover{
    color: aqua;
}
.a4{
    border: 2px solid orange;
    position: absolute;
    top: 600px;
    left: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    color:#fff;
    text-shadow: 2px 2px 4px silver;
    box-shadow: 2px 2px 4px yellowgreen;
    
}
.a4:hover{
    color: aqua;
}


